.eng-lists {
    display: flex;
    flex-direction: column-reverse;
}

.projects {
    max-width: 450px;
}

.project-tech {
    margin-top: 0.7em;
}

@media (min-width: 1000px) {

    .eng-lists {
        flex-direction: row;
    }

}