.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.home-card {
    max-width: 320px;
}

@media (min-width: 380px) {
    .home-card {
        padding: 1em;
    }
}