/* gray: #a8a8a8 */
/* 2e2e2e */


html {
  background-color: #424242;
}

body {
  font-family: 'Press Start 2P', Helvetica, sans-serif;
}

h1, ul, p, h4 {
  margin: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  color: #11D0A9;
}

.main {
  min-height: 100vh;
  padding-right: 2em;
  padding-left: 2em;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.title {
  padding: 0.5em;
}

.nav-list {
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav {
  padding: 1em;
}

.card {
  background-color: #F7EACA;
  text-align: center;
  height: fit-content;
  align-self: center;
  border-radius: 9pt;
  border: solid black;
}

.opt-card {
  margin-top: 2em;
  min-width: 320px;
  max-width: 700px;
}

.lists {
  padding: 0.5em
}

.list {
  text-align: left;
}

.list-item {
  margin: 1em;
}

.item-title {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}

@media (min-width: 380px) {

  .title {
      border: solid black;
  }
}

@media (min-width: 1000px) {

  .opt-card {
    min-width: 600px;
    margin-bottom: 0em;
    margin-left: 2em;
    padding: 2em;
  }

  .home {
    flex-direction: row;
  }
}