html {
  background-color: #a8a8a8;
}

body {
  font-family: 'Press Start 2P', cursive;
}

h1, ul, p {
  margin: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.main {
  height: 100vh;
}